body {
	margin: 0;
	padding: 0;
	font-family: 'Titillium';
	}
	
.center {
    margin: auto;
    width: 80%;
    max-width: 1000px;
	}
	
h1 {
	font-weight: bold;
	font-size: 23px;
	margin: 0.5em 0em;
	}
	
b {
	font-weight: bold;;
	}
	
p {
	font-weight: 300;
	margin: 0px;
	padding: 0px;
	}
	
span {
	font-weight: 300;
	}

ul {
	margin: 0px;
	padding: 0px;
	}

header {
	display: block;
	position: relative;
	padding-bottom: 7px;
	}

.brand {
	position: relative;
	}

.nav {
	background: #1c1c1c url('images/header.jpg') no-repeat top center;
	height: 545px;
	position: absolute;
	width: 100%;
	}
	
nav#menu {
	height: 90px;
	background: rgba(28, 28, 28, 0.8);
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	position: fixed;
    left: 0px;
    right: 0px;
    z-index: 6;
	}

body.menu-active #hamburger a {
	background: #1c1c1c;
	}

body.menu-active #menu-items {
	display: block;
	}
	
#language {
	display: none;
	}
		
#menu-items {
	display: none;
	position: absolute;
	top: 100%;
	left: 0px;
	right:0px;
	background: #1c1c1c;
	width: 100%;
	}
	
#menu-items ul {
	list-style: inside none none;
	margin-top:0;
	padding: 0px;
	text-align: center;
	}
	
#menu-items > ul > li {
	margin-top:0;
	border-top:1px solid #3c3c3c;
	position:relative;
	}
	
#menu-items > ul > li a {
	color: white;
	cursor: pointer;
	text-decoration: none;
	font-size: 1.2em;
	font-weight: normal;
	display: block;
	padding:15px 30px;
	}
	
#menu-items > ul > li:first-child a {
	color: #f6b72d;
	font-size: 1em;
	}
	
#menu-items > ul > li a:hover, #menu-items > ul > li a:active {
	color: #eb5d30;
	}
	
#menu div {
	margin-right: 1.2em;
	}
	
#logo-mobile {
	margin: 0em 1em;
	flex: 2 2 auto;
	}
	
#share {
	position: relative;
	}
	
#share > a {
	display: block;
	}

#share a {
	padding: .8em 1em;
	}

#share > a img {
	width: 25px;
	pointer-events: none;
	}
	
#share .children {
    display: none;
    margin: 0px;
    position: absolute;
    top: 100%;
    left: 0px;
    right: 0px;
    background: #f6b72d;
    }

body.share-active #share {
	background: #f6b72d;
	}
	
body.share-active #share .children {
	display: block;
	}

#share .children a {
	display: block;
	margin: 0px auto;
	text-align: center;
	}
	

	
#hamburger img {
	width: 27px;
	pointer-events: none;
	}
	
#hamburger a {
	height: 100%;
	display: flex;
	}
	
#logo {
	display: none;
	}

#desc {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
    position: relative;
    top: 0px;
    right: 0px;
	left: 0px;
	bottom: 0px;
	height: 545px;
	}
	
#desc p {
	font-weight: bold;
    font-size: 22px;
	text-align: center;
	color: white;
	display: block;
	max-width: 500px;
	margin: 0em 1em 7em 1em;
	}
	
#separator {
	background: url('images/separator.svg') no-repeat bottom center;
	height: 221px;
	z-index: 5;
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 0px;
	}

#what {
	display: block;
	text-align: right;
	margin-bottom: 4em;
	}
	
#what h1 {
	padding-right: 1.5em;
	margin-top: 0em;
	margin-bottom: 1.5em;
	}
	
#what span {
	font-weight: normal;
	font-size: 1em;
	}
	
.flex-container {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	list-style: none;
	padding: 0px;
	}
	
.flex-container li {
	margin: 15px 10px;
	width: 100px;	
	}
	
.mobile-what {
	width: 70px;
	}
	
.drop {
	display: block;
	text-align: center;
	margin-top: 10px;
	}
	
li img {
	display: block;
	text-align: center;
	margin: 0px auto;
	}
	
		
#ongoing {
	position: relative;
	width: 100%;
	}
	
#yellow-box-container {
	width: 100%;
	position: relative;
	}
	
#yellow-box-container::after {
    display: block;
    content: '';
    position: absolute;
    z-index: 1;
    top: 50%;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: #1c1c1c;
    }
	
#yellow-box {
	background: #f6b72d;
	font-size: 24px;
	padding: 1em 1em;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	position: relative;
	z-index: 2;
	}
	
#yellow-box::after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: '';
	height: 0px;
	width: 0px;
	position: absolute;
	pointer-events: none;
	border-top-color: #f6b72d;
	border-width: 15px;
	border-left-width: 20px;
	border-right-width: 20px;
	margin-left: -20px;
	}
	
#title + div {
	margin: auto;
	text-align: center;
	}
		
#title {
	color: white;
	margin: 0.6em;
	display: flex;
	align-items: center;
	justify-content: space-between;
	}
	
#title img {
    margin-right: 0.5em;
    width: 30px;
    }
    
#title h1 {
    margin: 0px;
    }
	
#black-box {
	background: #1c1c1c;
	padding: 10px 0;
	}

#text {
	padding: 20px 0;
	color: white;
	}
	
#black-box p {
	text-align: left;
	display: inline-block;
	font-size: 18px;
	margin: 1.5em 0em;
	}
	
#black-box span {
	display: inline-block;
	font-size: 16px;
	}
	
.left {
	float: left;
	}
	
.right {
	float: right;
	}
	
.texture {
	background: url('images/contact_bg.png') repeat left;
	}
	
#contact {
	padding: 1em 0em;
	font-size: 20px;
	}
	
#contact h1 {
	color: #c32e30;
	}
	
#contact p {
	line-height: 1.3;
	margin: 1em 0em;
	}
	
#contact ul {
	list-style: none;
	margin-left: 70px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	}

#contact ul li {
	line-height: 1.2;
    position: relative;
    height: 75px;
    display: flex;
    align-items: center;
	}

#contact ul li::before {
    position: absolute;
    right: 100%;
    top: 50%;
	display: block;
	content: '';
	margin-right: 20px;
	width: 60px;
	height: 60px;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	}

#phone::before {
	background: url('images/phone.svg') center no-repeat;
	}
	
#address::before {
	background: url('images/address.svg') center no-repeat;
	}
	
#email::before {
	background: url('images/mail.svg') center no-repeat;
	}
	
#partners {
	background-color: rgba(255, 255, 255, 0.8);
	}
	
#partners h1 {
	color: #f6b72d;
	margin-bottom: 0.625em;
	}

#partners ul {
	list-style: none;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding: 1em 0em;
	margin: 0em;
	}
	
#partners ul li {
	margin: 0px 0px 15px 0px;
	}

	

@media screen and (min-width: 650px){

	h1 {
		font-size: 28px;
		}
	
	#logo-mobile img {
		height: 50px;
		}
	
		
	#what span {
		font-size: 18px;
		}
		
	.mobile-what {
		width: 76px;
		}
		
	.flex-container li {
		width: 120px;
		}
		
	#title img {
		margin-right: 1em;
	    width: 35px;
	    }
	
	#contact {
		font-size: 24px;
		}
		
	#contact ul li {
	    height: 100px;
		}
	
	#partners h1 {
		flex-basis: 100%;
		}
	
	#partners ul {
		list-style: none;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		padding: 0.5em 0em 1.25em 0em;
		margin: 0px;
		}
		
	#partners ul li:first-child {
		margin: 0em 1.56em 0.93em 0em;
		flex-basis: 100%;
		}
}


@media screen and (min-width: 1000px) {

	header {
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-between;
		}
		
	.brand {
		background: #1c1c1c;
		top: 0;
		left: 0px;
		flex-basis: 30%;
		order: 1;
		}
	
	#desc {
		align-items: flex-start;
		min-width: 365px;
	    padding: 0em;
	    position: relative;
	    top: 0px;
	    right: 0px;
		left: 0px;
		bottom: 0px;
		height: auto;
		}
		
	#logo {
		display: block;
		margin: 2.5em 2.2em;
		}
		
	#desc p {
		font-weight: normal;
	    font-size: 28px;
		text-align: left;
		margin: 1.2em 1em;
		max-width: none;
		}
		
	.nav {
		flex-basis: 70%;
		background: #1c1c1c url('images/header.jpg') no-repeat top right;
		order: 2;
		position: relative;
		}
		
	nav#menu {
		height: auto;
		background: #1c1c1c;
	    position: relative;
		top: 0;
		}
		
	#logo-mobile {
		display: none;
		}
		
	#hamburger {
		display: none;
		}
		
	#menu-items {
		display: block;
		position: relative;
		}
		
	#menu-items ul {
		list-style: inside none none;
		}
		
	#menu-items > ul > li {
		border-top: none;
		float: left;
		text-align: left;
		margin-top:0;
		position:relative;
		}
		
	#menu-items > ul > li a {
		font-size: 1em;
		font-weight: 300;
		display: inline-block;
		padding: 0.9375em 0em;
		margin-right: 2em;
		color: white;
		cursor: pointer;
		text-decoration: none;
		}
		
	#menu-items > ul > li:first-child {
		display: none;
		}
	
	#share {
		padding: 0.6em 0.7em;
		display: inline-block;
		background: #f6b72d;
		}
	
	#share > a img {
		width: 22px;
		}
		
	#share a {
		padding: 0px;
		}
		
	body.share-active #share .children {
		display: none;
		}
		
	#share .children a {
		margin: .4em 0px;
		}
	
	body.share-active #share:hover .children, #share:hover .children {
		display: block;
		}
		
	#language {
		padding: 0em 0.5em;
		display: inline-block;
		width: 70px;
		opacity: 0.6;
		}
		
	#language a {
		font-size: 0.8em;
		display: inline-block;
		color: white;
		text-decoration: none;
		}
		
	#language a:hover {
		text-decoration: underline;
		}
		
	#separator {
		background: url('images/separator.svg') no-repeat bottom right;
		background-size: 100%;
		height: 313px;
		}
	
	#partners h1 {
		margin: 0px 85px 0px 0px;
		}
	
	#partners ul {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		padding: 1.8em 0em 1.25em 0em;
		}
	
	#partners ul li:first-child {
		margin-right: 1.56em;
		flex-basis: auto;
		}
	
	#partners ul li:nth-child(2) {
		margin-right: 4em;
		}

}



@media screen and (min-width: 1440px) {

	.nav {
		background: #1c1c1c url('images/header_big.jpg') no-repeat top right;
		}

}
	
	
	
	
	
	